<section class="background-dark b-tech">
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <img src="./assets/himicon.png" class="jumbo-img" alt="">
      </div>
      <div class="col-8">
        <div class="dark-card">
          <h1 class="primary-color">
            Himnario Presbiteriano <hr class="primary">
          </h1>
          <h3>
            <small><b class="primary-color">Himnario Presbiteriano</b> es un proyecto que busca llevar de manera gratuita y útil el Himnario Evangélico Presbiteriano Sólo a Dios la gloria a través de una app multiplataforma. Este proyecto sigue adelante gracias a las donaciones, tu puedes apoyar al proyecto y ser de bendición para muchas personas con el botón Donar.</small>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col text-center"><button class="btn button b5 button-primary-round">Usar app</button></div>
      <div class="col text-center"><button class="btn button b5 button-primary-round">Donar</button></div>
      <div class="col-4"></div>
    </div>
  </div>
  <br><br>
</section>

<!--seccion caract-->
<section>
  <br><br>
  <div class="container">
    <h1 class="text-center">Características</h1>
    <hr class="dark">
    <h2><small class="dark-gray">La aplicación se ha desarrollado con el fin de ser lo más accesible y eficiente posible, algunas de sus características son:</small></h2>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card-light">
          <h2>Multiplataforma</h2>
          <div class="card-origin">
            <span>
              <img src="/assets/code.png" alt="">
            </span>
          </div>
          <div class="card-text">
            <hr class="dark">
            <p>Al se una Progressive Web App es instalable en la gran mayoría de dispositivos, y puede usarse en cualquier equipo que tenga un navegador web.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-light">
          <h2>Multimedia</h2>
          <div class="card-origin">
            <span>
              <img src="/assets/music.png" alt="">
            </span>
          </div>
          <div class="card-text">
            <hr class="dark">
            <p>Escucha las pistas musicales mientras ves la letra o la partitura de los himnos; o proyecta la letra en tus reuniones familiares con el Modo Proyector</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-light">
          <h2>Búsqueda</h2>
          <div class="card-origin">
            <span>
              <img src="/assets/search.png" alt="">
            </span>
          </div>
          <div class="card-text">
            <hr class="dark">
            <p>Encuentra fácilmente el himno que buscas ya se por nombre, por número o por categorías según el orden en el himnario.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="card-light">
          <h2>Favoritos</h2>
          <div class="card-origin">
            <span>
              <img src="/assets/star.png" alt="">
            </span>
          </div>
          <div class="card-text">
            <hr class="dark">
            <p>Ten siempre a la mano tus himnos favoritos con el botón de la estrella al lado del titulo de cada himno.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-light">
          <h2>Instalable</h2>
          <div class="card-origin">
            <span>
              <img src="/assets/phone.png" alt="">
            </span>
          </div>
          <div class="card-text">
            <hr class="dark">
            <p>Instala la aplicación como si de una App nativa se tratara con "Agregar a la pantalla principal" en Google Chrome</p>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <br><br>
</section>

<section class="background-dark b-tech">
  <br><br>
  <div class="container-non">
    <h1 class="text-center primary-color">Equipo</h1>
    <hr class="primary">
    <h4 class="text-center snow-color">Actualmente soy el único encargado del desarrollo y publicación de la app, el proyecto se ha podido mantener en pie gracias a Dios y al apoyo y donaciones de los usuarios de la app. Muchas gracias, Dios les bendiga.</h4>
    <br> <br>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card-d">
          <div class="row">
            <div class="col-3"><img src="/assets/dev1.jpg" alt="" class="dev-icon"></div>
            <div class="col">
              <h4 class="primary-color">Israel Dzib <br>
              <small>Desarrollador web</small></h4>
            </div>
          </div>
          <hr class="primary">
          <p class="snow-color">Creador y desarrollador principal de la aplicación</p>
          <div class="row">
            <div class="col text-center"><span class="bad-light-outline"><img src="/assets/facebook.svg" alt=""></span></div>
            <div class="col text-center"><span class="bad-light-outline"><img src="/assets/github.svg" alt=""></span></div>
            <div class="col text-center"><span class="bad-light-outline"><img src="/assets/linkedin.svg" alt=""></span></div>
            <div class="col text-center"><span class="bad-light-outline"><img src="/assets/twitter.svg" alt=""></span></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-d">
          <div class="row">
            <div class="col-3"><img src="/assets/dev2.jpg" alt="" class="dev-icon"></div>
            <div class="col">
              <h4 class="primary-color">Suzu Nohara<br>
              <small>Desarrollador fullstack</small></h4>
            </div>
          </div>
          <hr class="primary">
          <p class="snow-color">Desarrolador de la aplicación</p>
          <div class="row">
            <div class="col text-center"><span class="bad-light-outline"><img src="/assets/github.svg" alt=""></span></div>
            <div class="col text-center"></div>
            <div class="col text-center"></div>
            <div class="col text-center"></div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <br><br>
</section>

<!--seccion contacto-->
<section>
  <br><br>
  <div class="container">
    <h1 class="text-center">Contacto</h1>
    <hr class="dark">
    <h4 class="text-center">Nos pondremos en contacto lo antes posible</h4>
    <br>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col text-center">
          <img src="/assets/whats.svg" class="contact" alt="">
          <br> <br>
          <h3 class="primary-color text-center">+52 9993042573</h3>          
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <br><br>
</section>