<section class="background-dark b-tech">
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3 padding-adjust">
        <a class="btn button button-primary-round b6" href="https://www.paypal.com/paypalme/israeldzib" target="0">
          <span class="text-center">
            <h2><img src="/assets/paypal.svg" alt="">&nbsp;&nbsp;Donar</h2>
          </span>
        </a>
      </div>
      <div class="col-8">
        <div class="dark-card">
          <h1 class="primary-color text-center">
            Donar <hr class="primary">
          </h1>
          <h3>
            <small>
              Este proyecto se mantiene vigente gracias a las donaciones por parte de los usuarios, si nace de su corazón apoyar al desarrollo y mantenimiento de la aplicación usted puede apoyarnos a pagar los servidores de alojamiento, nombres de dominio y costos de desarrollo con una donación.
            </small>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</section>

<section>
  <br><br>
  <div class="container">
    <h1 class="text-center">Donativos actuales</h1>
    <hr class="dark">
    <div class="row">
      <div class="col-4">
        <div class="card-light-donate">
          <h2>??-??</h2>
          <hr class="primary">
          <h3 class="primary-color">$ 300 MXN</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="card-light-donate">
          <h2>24-04</h2>
          <hr class="primary">
          <h3 class="primary-color">$ 400 MXN</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="card-light-donate">
          <h2>28-04</h2>
          <hr class="primary">
          <h3 class="primary-color">$ 210 MXN</h3>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</section>