<!--Seccion header-->
<div class="header background-dark">
  <div class="header-left">
    <img src="./assets/himicon.png" class="header-img" alt="">
    <span class="primary-color header-title">Himnario presbiteriano</span>
  </div>
  <div class="header-right">
    <a class="btn button b4 button-primary-round" href="/">Inicio</a>
    <a class="btn button b4 button-primary-round" href="https://himnariop.web.app/" target="0">App</a>
    <a class="btn button b4 button-primary-round" href="/donar">Donar</a>
    <a class="btn button b4 button-primary-round" href="/descargas">Descargas</a>
  </div>
</div>
<div class="repair"></div>
<!--seccion jumbo-->

<router-outlet></router-outlet>

<section class="background-dark">
  <br>
  <div class="footer">
    <span>
      <img src="/assets/irken.png" class="irken-icon" alt="">
    </span>
    <span>IRK</span>
    <span class="float-right"></span>
  </div>
  <br>
</section>